resources:
- name: firewall1
  action: gcp-types/compute-v1:compute.firewalls.delete
  properties:
    firewall: default-allow-icmp
    network: default
- name: firewall2
  action: gcp-types/compute-v1:compute.firewalls.delete
  properties:
    firewall: default-allow-internal
    network: default
- name: firewall3
  action: gcp-types/compute-v1:compute.firewalls.delete
  properties:
    firewall: default-allow-ssh
    network: default
- name: firewall4
  action: gcp-types/compute-v1:compute.firewalls.delete
  properties:
    firewall: default-allow-rdp
    network: default   
- name: remove-default
  action: gcp-types/compute-v1:compute.networks.delete
  properties:
    network: default
  metadata:
    dependsOn:
    - firewall1
    - firewall2
    - firewall3
    - firewall4
